* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Secular One', sans-serif;
    display: flex;
    flex-direction: column;
   
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 6rem 0;
}

#search {
    border-radius: 3px;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    border: 1px solid #999;
}
.container {
    display: flex;
    flex-direction: column;
}
.table {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-around;
    }
.row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    align-self: center;
    font-size: 1.3rem;
    height: 4rem;
}

/* .row:nth-child(2n) {
    background: #ede7f6;
}

.row:nth-child(2n + 1):not(.headers) {
    background: #b39ddb;
} */
.row{
    display: flex;
    justify-content: space-between;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    /* border: 1px solid #9575cd; */
    height: inherit;
    position: relative;
}

.resetBtn {
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 4px;
}

/* .tbBtn {
    width: 50%;
    border: dashed 1px #b39ddb;
    align-content: center;
} */
th{
    border: red solid 1px ; 
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
}
td {
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
  }